.inputForm{
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1.4rem;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.26);
}

.inputForm:focus{
    outline: none;
}